@charset "UTF-8";

/* Configurações Gerais */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    height: 100vh;
}

html {
    background: black url(../imagens/back-phone.jpg) no-repeat;
}

body {
    background: black url(../imagens/back-phone.jpg);
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(255, 255, 255, 0.76);
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 1em;
}

img {
    display: block;
    margin: auto;
}

img#phone { display: block; }
img#tablet { display: none; }
img#print { display: none; }
img#pc { display: none; }
img#tv { display: none; }